
.navbar {
  background: #efbc9b !important;
  position: sticky;
  top: 0;
}
.nav-link {
  padding: 15px !important;
  font-weight: bold !important;
  font-size: large;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}
